.auDivStyle {
    display:flex;
    flex-Direction:column;
    backdrop-filter:blur(50px);
    background-Color: #8A947F;
    mix-blend-mode: lighten;
	height:auto;
}
.headerStyle {
    display:flex;
    width:885px;
    max-width: 100%;
    justify-Content:space-between;
    flex-wrap:nowrap;
    align-items: stretch;
    gap: 1.25rem;
    margin-top: 0.625rem;
    padding-left: 1.25rem; 
	padding-right: 1.25rem;
}
.auimage{
    object-fit: contain;
    object-position: center;
    width:75px;
    overflow: hidden;
    max-width: 100%;
}
.ifimage{
    object-fit: contain;
    object-position: center;
    width:375px;
    overflow: hidden;
    max-width: 100%;
	align-items: stretch;
	fill: #fff;
	margin-top: 1.75rem;
	aspect-ratio: 2.41;
}
.ifimage1{
    object-fit: contain;
    object-position: center;
    width:605px;
    overflow: hidden;
    max-width: 100%;
	align-items: stretch;
	fill: #fff;
	margin-top: 1.75rem;
	aspect-ratio: 2.41;
}
.autext{
    color: #ffffff;
    font-size: 3.75rem;  
    font-weight: bold;
    margin-top: 1.75rem;
    align-self: flex-end;
    font-size: 2.25rem; 
	line-height: 2.5rem;
	

}
.footer{
	background-color: rgb(64 64 64);
	max-width: 100%;
	display:flex;
	flex-Direction:column;
	align-items: stretch;
	border-style: solid;
	border-color: #ffffff;
	margin-top: 1.25rem;
	margin-bottom: 0.5rem;
	padding-top: 1.25rem; 
	padding-bottom: 1.25rem;
}
.footertext{
	color: rgb(64 64 64);
	font-size: 6rem; 
	line-height: 1;
	white-space: nowrap;
	background-color: rgb(190 242 100);
	width: 353px;
	max-width: 100%;
	align-items: center;
	padding-left: 1.25rem;	
	padding-right: 1.25rem; 	
	padding-top: 2rem; 
	padding-bottom: 2rem;
	border-radius: 0.75rem;
	/*font-size: 2.25rem; line-height: 2.5rem;
	line-height: 82px;*/
}
.footertext2{
	color: rgb(64 64 64);
	font-size: 6rem; 
	line-height: 1;
	line-height: 158px;
	white-space: nowrap;
	width: 353px;
	max-width: 100%;
	align-items: center;
	padding-left: 1.25rem;	
	padding-right: 1.25rem; 	
	padding-top: 2rem; 
	padding-bottom: 2rem;
	border-radius: 0.75rem;
	/*font-size: 2.25rem; line-height: 2.5rem;
	line-height: 82px;*/
}
.section{
	align-items: stretch;
	max-width: 100%;
	width: 100%;
	margin-top: 2.25rem; /* 36px */
	padding-left: 1.25rem; /* 20px */
	padding-right: 1.25rem; /* 20px */		
}
.sectiondiv1{
	gap: 0.25rem;
	display:flex;	
	align-items: stretch;		
}
.sectiondiv2{
	display:flex;
	flex-Direction:column;	
	align-items: stretch;		
	width: 25%;
}
.sectiondiv3{
	display:flex;
	flex-Direction:column;
	flex-grow: 1;	
	background-color: rgb(64 64 64);	
	align-items: center;		
	width: 100%;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 2rem; 
	padding-bottom: 3rem;
	border-radius: 1.5rem;
}
.sectiondiv3h{
	color: #ffffff;
	text-align: center;	
	font-size: 3rem; 
	line-height: 1;
	font-weight: 600;
		
}
.sectiondiv4{
	display:flex;
	flex-Direction:column;
	align-items: center;		
	width: 42%;
	margin-left: 1.25rem;
}
.sectiondiv5{
	background-color: rgb(64 64 64);	
	display:flex;
	width: 500px;
	flex-shrink: 0;
	height: 671px;
	flex-Direction:column;
	border-radius: 1.5rem;
}
.sectiondiv6{
	display:flex;
	flex-Direction:column;
	align-items: center;		
	width: 25%;
	margin-left: 1.25rem;
}
.sectiondiv7{
	display:flex;
	background-color: rgb(64 64 64);	
	flex-Direction:column;
	align-items: stretch;		
	width: 100%;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1.75rem;
	padding-bottom: 3rem;
	border-radius: 1.5rem;
}
.sectiondiv7h{
	color: #ffffff;
	text-align: center;
	font-size: 3rem; 
	line-height: 1;
	font-weight: 600;
		
}
.sectiondiv8{
	display:flex;
	background-color: #ffffff;	
	flex-Direction:column;
	align-items: stretch;		
	margin-top: 2rem;
	padding-left: 0.75rem;
	padding-right: 0.5rem;	
	padding-top: 1.25rem; 
	padding-bottom: 1.25rem;
	border-radius: 1.5rem;
}
.sectiondiv9{
	display:flex;
	background-color: rgb(64 64 64);	
	flex-Direction:column;
	align-items: stretch;		
	padding-left: 1.25rem; 
	padding-right: 1.25rem;
	padding-top: 1.5rem; 
	padding-bottom: 1.5rem;	
	border-radius: 1.5rem;
}
.sectiondiv10{
	background-color: rgb(190 242 100);
	display:flex;
	width:60px;
	flex-shrink: 0;
	height:60px;
	flex-Direction:column;
	align-items: center;
	border-radius: 9999px;
	align-self: center;
}
.sectiondiv11{
	display:flex;
	background-color: rgb(64 64 64);	
	flex-Direction:column;
	align-items: center;
	margin-top: 0.375rem;
	padding-left: 1.25rem; 
	padding-right: 1.25rem;
	padding-top: 3rem; 
	padding-bottom: 3rem;	
	border-radius: 1.5rem;
}
.sectiondiv12{
	background-color: rgb(190 242 100);
	display:flex;	
	width:134px;
	flex-shrink: 0;
	flex-Direction:column;
	height:34px;		
	border-radius: 1.5rem;
}
.sectiondiv13{
	background-color: rgb(64 64 64);	
	display:flex;	
	flex-Direction:column;
	align-items: center;
	margin-top: 0.75rem;		
	border-radius: 1.5rem;
	padding-left: 1.25rem; 
	padding-right: 1.25rem;
	padding-top: 1.25rem; 
	padding-bottom: 1.25rem;
	border-radius: 1.5rem;
}